

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #cecccc;
}

.chat-header {
    flex: 0 0 auto;
    background-color: #ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.name-input {
    flex: 1;
    height: 35px;
    border-radius: 8px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.delete-btn {
    height: 35px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.chat-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('backdrop.jfif');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}

.chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}


.my-message {
  align-self: flex-end;
  background-color: #d1e7dd; /* Customize background color */
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
  max-width: 60%;
}

.other-message {
  align-self: flex-start;
  background-color: #f8d7da; /* Customize background color */
  padding: 8px;
  border-radius: 8px;
  margin: 5px;
  max-width: 60%;
}
.sender {
    font-weight: bold;
    margin-right: 5px;
}

.text {
    word-wrap: break-word;
}

.chat-footer {
    flex: 0 0 auto;
    background-color: #ffffff;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.message-input {
    flex: 1;
    height: 35px;
    border-radius: 8px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.send-btn {
    height: 35px;
    padding: 0 15px;
    border-radius: 8px;
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.send-btn:hover {
    background-color: #4c42d4;
}

@media (max-width: 768px) {
    .name-input, .message-input, .delete-btn, .send-btn {
        height: 30px;
    }

    .chat-header, .chat-footer {
        padding: 5px;
    }

    .chat-box {
        padding: 10px;
    }
}
