<div class="main" id="mainContainer">
  <div class="chat-header">
    <span class="group-name">🍻 The Boys Room 🍻</span>
    <button class="delete-btn" (click)="delete()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
      </svg>
    </button>
  </div>
  
  <div #chatContainer class="chat-container">
      <div *ngFor="let msg of messages" [ngClass]="{'my-message': msg.sender === sender, 'other-message': msg.sender !== sender && !msg.status, 'notification': msg.status}">
        <div *ngIf="msg.type === 'status'" class="join-notification">
          <span>{{ msg.status }}</span>
        </div>
        <div *ngIf="msg.type === 'message'" >
          <span class="sender" *ngIf="msg.sender != sender">{{ msg.sender }}:</span>
          <span class="text">{{ msg.message }}</span>
        </div>  
      </div>
      <!-- <button class="scrool-down">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
          <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
        </svg>
      </button> -->
  </div>
  
  <div class="chat-footer">
    <div *ngIf="isTyping" class="typing-indicator">
      {{typer}} 
    </div>
    <div class="footer">
      <input #inputBox [(ngModel)]="message" placeholder="Type a message" class="message-input" (input)="onTyping()" (keydown.enter)="sendMessage()"/>
      <button class="send-btn" (click)="sendMessage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>
      </button>
    </div>
  </div>
</div>


