<div class="container" id="mainContainer">
    <div class="header">
        The Boys Room 🎤
    </div>
    <div class="main">
        <h1>Welcome to the Spicy Talks</h1>
        <p>Enter your name to start chatting!</p>
        <input type="text" placeholder="Enter name..." class="input" [(ngModel)]="userName">
        <button class="button" (click)="goToOnline()">Go To Online</button>
    </div>
    event: {{event}}
    mainContainer: {{mainContainer}}
    viewportHeight: {{viewportHeight}}
  
    viewportHeight1: {{viewportHeight1}}
    keyboardHeight: {{keyboardHeight}}
</div>